<div class="carousel">
  <ngb-carousel class="carousel-inner">
    <ng-template ngbSlide >
      <div>
        <img class="carousel-image" src="assets/cat5.jpg" alt="Random first slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        <button type="button" class="btn btn-dark">Products</button>
      </div>
    </div>
    </ng-template>
    <ng-template ngbSlide>
      <div>
        <img class="carousel-image" src="assets/cat6.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button type="button" class="btn btn-dark">Products</button>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div>
        <img class="carousel-image" src="assets/cat7.jpg" alt="Random third slide">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        <button type="button" class="btn btn-dark">Products</button>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
