/*.spacer{
    flex: 1 1 auto;
}
.icon-spacer{
    padding: 5px;
}

.nav-pills{
    background-color: aquamarine;
    position: sticky;
    top: 0;
    margin-top: auto;
    padding-top: 10px;
}*/

.carousel-item img {
    max-height: 600px;
  }