<app-header></app-header>
<app-carousel></app-carousel>
<app-productgrid></app-productgrid>
<h2>BESTSELLERS!!!</h2>
<div class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="assets/cat2.jpg" class="d-block w-100" alt="...">
        <div class="copy-wrap">
          <h3>That Next-Level CAT FUN!</h3>
          <p><span style="font-size: medium;">CAT fun etc etc etc.</span></p>
          <button type="button" class="btn btn-dark">Products</button>
          </div>
      </div>
      <div class="col-sm">
        <img src="assets/cat2.jpg" class="d-block w-100" alt="...">
        <div class="copy-wrap">
          <h3>That Next-Level CAT FUN!</h3>
          <p><span style="font-size: medium;">CAT fun etc etc etc.</span></p>
          <button type="button" class="btn btn-dark">Products</button>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="copy-wrap">
          <h3>That Next-Level CAT FUN!</h3>
          <p><span style="font-size: medium;">CAT fun etc etc etc.</span></p>
          <button type="button" class="btn btn-dark">Products</button>
          </div>
      </div>
      <div class="col-sm">
        <img src="assets/cat2.jpg" class="d-block w-100" alt="...">
      </div>
      </div>
    </div>
  </div>
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>