<router-outlet>
<app-header></app-header>
<app-carousel></app-carousel>
<app-productgrid></app-productgrid>
<h2>BESTSELLERS!!!</h2>
<div class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="assets/cat2.jpg" class="d-block w-100" alt="...">
        <div class="copy-wrap">
          <h3>That Next-Level CAT FUN!</h3>
          <p><span style="font-size: medium;">CAT fun etc etc etc.</span></p>
          <button type="button" class="btn btn-dark">Products</button>
          </div>
      </div>
      <div class="col-sm">
        <img src="assets/cat2.jpg" class="d-block w-100" alt="...">
        <div class="copy-wrap">
          <h3>That Next-Level CAT FUN!</h3>
          <p><span style="font-size: medium;">CAT fun etc etc etc.</span></p>
          <button type="button" class="btn btn-dark">Products</button>
          </div>
      </div>
    </div>
  </div>
</div>
<app-productgrid></app-productgrid>
<div class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="copy-wrap">
          <h3>That Next-Level CAT FUN!</h3>
          <p><span style="font-size: medium;">CAT fun etc etc etc.</span></p>
          <button type="button" class="btn btn-dark">Products</button>
          </div>
      </div>
      <div class="col-sm">
        <img src="assets/cat2.jpg" class="d-block w-100" alt="...">
      </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
</router-outlet>