<h2>Products</h2>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <app-shopitem></app-shopitem>
    </div>
    <div class="col-sm">
      <app-shopitem></app-shopitem>
    </div>
    <div class="col-sm">
      <app-shopitem></app-shopitem>
    </div>
  </div>
</div>

  <hr>
  <p>lorem <fa-icon [icon]="faShoppingCart"></fa-icon> lorem lorem <fa-icon [icon]="faShoppingCart"></fa-icon> lorem <fa-icon [icon]="faShoppingCart"></fa-icon> lorem <fa-icon [icon]="faShoppingCart"></fa-icon> </p>
  <hr>
