<div class="card m-0 p-0 border-0">
    <img src="assets/kociezarcie.png" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <fa-icon class="ml-1 fa-lg"[icon]="fapaw"></fa-icon>
        <fa-icon class="ml-1 fa-lg"[icon]="fapaw"></fa-icon>
        <fa-icon class="ml-1 fa-lg"[icon]="fapaw"></fa-icon>
        <fa-icon class="ml-1 fa-lg"[icon]="fapaw"></fa-icon>
        <fa-icon class="ml-1 fa-lg"[icon]="fapaw"></fa-icon>
      </div>
      <h5 class="card-title text-center">Cats Food</h5>
      <p class="card-text">Some quick example text to build on the card</p>
      <a href="#" class="btn d-flex justify-content-lg-center btn-primary">Add to Cart</a>
    </div>
  </div>